h1 {
    color: blue; /* Warna teks biru */
} 

 h2 {
    color: #ff0000; /* Warna teks merah dalam format HEX */
} 

 h3 {
    color: rgb(255, 0, 255); /* Warna teks magenta dalam format RGB */
}

body {
    background-color: #f0f0f0; /* Warna latar belakang abu-abu dalam format HEX */
}

div {
    background-color: rgb(0, 128, 0); /* Warna latar belakang hijau dalam format RGB */
}

